.btn {
  position: relative;
  left: 3vw;
  background-color: #AE4F4F;
  color: #FFFFFF;
  text-align: center;
  padding: 1rem;
  font-size: 14px;
  font-family: Helvetica;
}

.dialogue {
  position: relative;
  left: 3vw;
  top: 1vh;
}
