.btn {
  border: none;
  background-color: #AE4F4F;
  padding: 1rem;
  width: 7rem;
  border-radius: 8px;
  box-shadow: 0 0.1px 4px 0 rgba(0,0,0,0.50);
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 200;
  color: #FFFFFF;
  margin-bottom: 1rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.btn:active {
  top: 0.1rem;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.50);
}

.snoopy {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
