/* {
    outline: 1px solid red;
}*/

body {
  margin: 3rem 3rem;
  padding: 0;
  font-family: sans-serif;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90vw;
  height: 90vh;
  transform: translateX(-50%) translateY(-50%);
}
